html,
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #001b3d
}

.demo {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.message {
  text-align: center
}

h1 {
  margin: 100px auto 30px auto;
  font-size: 4rem;
}

h2 {
  margin: 50px auto 30px auto;
  font-size: 2.5rem;
}

h3 {
  margin: 50px auto 30px auto;
  font-size: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: rgb(212, 105, 4);
}